* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background: #222121;
  color: #ffff;
  height: 100vh;
  width: 100vw;
}

.grid-container {
  display: grid;
  width: min(95%, 1124px);
  margin-inline: auto;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-template-rows: repeat(3, 300px); */
  gap: 4px;
  /* align-items: end; */
}

.item {
  width: 100%;
  background-color: darkturquoise;
  padding: 1.5rem;
}

.item:nth-of-type(1) {
  background-color: hsla(101, 100%, 50%, 0.726);
  align-self: end;
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 1/3; */
  grid-column: 1 / span 2;
}

.item:nth-of-type(3) {
  background-color: hsla(298, 97%, 42%, 0.623);
  grid-row: 2/ 6;
}

.item:nth-of-type(4) {
  background-color: hsla(342, 97%, 42%, 0.918);
  grid-row: 2/ 4;
}
